# ========== Git LFS for medium files ==========
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.ipynb filter=lfs diff=lfs merge=lfs -text
# ========== EXPLICITLY DO NOT TRACK MD FILES ==========
# (Estos deben ignorarse por gitignore, no por LFS)
*.trr !filter !diff !merge
*.xtc !filter !diff !merge
*.tng !filter !diff !merge
*.edr !filter !diff !merge
*.cpt !filter !diff !merge
*.tpr !filter !diff !merge
*.g96 !filter !diff !merge
*.gro !filter !diff !merge
*.pdb filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
